/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* navbar */

   .side-menu {
     position: fixed;
     height: 100%;
     top: 0px;
     border: none;
     .container {
       width: 250px;
     }
     .navbar-header {
       width: 100%;
       margin: 10px;
       text-align: center;
       line-height: 16px;
       .navbar-brand {
         a {
          text-decoration: none;
          color: #333333;
          transition: .3s;
         }
         a:hover {
           color: #777777;
         }
       }
     }
     .side-menu-container {
       .navbar-nav {
         width: 100%;
         display: block;
         border: none;
         li {
           display: block;
           width: 100%;
         }
         #dropdown {
           border: 0;
           background-color: transparent;
           box-shadow: none;
           margin-left: -14px;
           .caret {
             float: right;
             margin: 9px 5px 0
           }
         }
       }
     }
   }

   @media (max-width: 768px) {
     .side-menu {
       position: relative;
       width: 100%;
       .container {
         width: 100%;
         .navbar-header {
           margin-left: -15px;
         }
       }
     }
   }


   /* info */

   .main {
     margin-top: 30px;
   }

  .chat {
    margin-right: 20px;
    .chat-title {
      font-size: 50px;
      float: right;
    }
  }
